.bottomBar {
  position: fixed;
  width: 100vw;
  height: 125px;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(45,0,245,0) 50%);
}

.bottomContentWrapper {
  position: relative;
  background-color: transparent;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  margin: auto;
}

/* Range input customization */
input[type="range"]::-webkit-slider-runnable-track {
  border-radius: 100000px;
  outline: 2px white solid;
  background-color: black;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: black;
  background-color: black;
  color: black;
  border: 2px blue solid;
  width: 200px;
}

.mainVideo {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.playpause {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  aspect-ratio: 1 / 1;
  border: 4px solid black;
  background-color: transparent;
  border-radius: 10000px;
  align-self: center;
  cursor: pointer;
}

.playpause > svg {
  height: 80%;
  aspect-ratio: auto;
}

.playpause > svg > path {
  fill: white;
}

.progress {
  width: 100vw;
  margin: 0;
}

.progressBar {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: black;
  border-radius: 10px;
}

.progressBarProgress {
  position: absolute;
  height: 100%;
  width: 0%;
  background-color: white;
  border-radius: 10px;
}

.volume {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  aspect-ratio: 1 / 1;
  border: 4px solid black;
  background-color: transparent;
  border-radius: 10000px;
  align-self: center;
  cursor: pointer;
}

.volumeBar {
  display: flex;
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
  width: 100px;
  margin: 0;
}